{% extends 'base.html.twig' %}

{% block title %}Contenu Article{% endblock %}

{% block body %}
    <div class="container">
        <h1 >{{ article.titre }}</h1>
        <a class="btn btn-secondary " href="{{ path('app_categorie_slug', { slug : article.categorie.slug}) }}" role="button">{{ article.categorie.titre }}</a>
        <div>
            <p>{{ article.contenu }}</p>
        </div>
    </div>
{% endblock %}
